<div class="min-h-screen flex flex-col bg-slate-50 text-slate-800">
  <header
    class="sticky top-0 z-50 bg-white/80 backdrop-blur-md border-b border-slate-100 px-4 py-6 flex justify-between items-center">
    <div class="flex items-center gap-2">
      <img [src]="config.logo" alt="" class="w-9 h-9 rounded-xl  object-cover">
      <span class="font-semibold text-lg tracking-tight">{{config.salonName}}</span>
    </div>
  </header>

  <main class="flex-1">
    <router-outlet />
  </main>

</div>