<div class="p-4 md:p-6 space-y-7 max-w-4xl mx-auto pb-12">

    <!-- 1. GALERÍA DE TRABAJOS / TRENDING DESIGNS -->
    <section class="space-y-2.5">
      <div class="flex items-center justify-between px-0.5">
        <h2 class="text-[11px] font-bold text-gray-400 uppercase tracking-wider">Inspiración & Trends</h2>
        <span class="text-xs text-brand-500 font-semibold cursor-pointer hover:underline transition-all">Ver todo</span>
      </div>
  
      <div class="grid grid-cols-3 gap-2 sm:gap-3">
        <div class="relative group aspect-square rounded-2xl overflow-hidden bg-gray-100 cursor-pointer shadow-2xs">
          <img src="https://images.unsplash.com/photo-1604654894610-df63bc536371?auto=format&fit=crop&q=80&w=300" class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-500" alt="Design 1">
          <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-black/20 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-end p-2.5 text-white text-[11px] font-medium">
            Chrome Effect
          </div>
        </div>
  
        <div class="relative group aspect-square rounded-2xl overflow-hidden bg-gray-100 cursor-pointer shadow-2xs">
          <img src="https://images.unsplash.com/photo-1632345031435-8727f6897d53?auto=format&fit=crop&q=80&w=300" class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-500" alt="Design 2">
          <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-black/20 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-end p-2.5 text-white text-[11px] font-medium">
            3D Pearls
          </div>
        </div>
  
        <div class="relative group aspect-square rounded-2xl overflow-hidden bg-gray-100 cursor-pointer shadow-2xs">
          <img src="https://images.unsplash.com/photo-1519014816548-bf5fe059798b?auto=format&fit=crop&q=80&w=300" class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-500" alt="Design 3">
          <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-black/20 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-end p-2.5 text-white text-[11px] font-medium">
            French Glazed
          </div>
        </div>
      </div>
    </section>
  
    <!-- 2. ESPECIALISTAS / NAIL ARTISTS -->
    <section class="space-y-2.5">
      <div class="flex items-center justify-between px-0.5">
        <h2 class="text-[11px] font-bold text-gray-400 uppercase tracking-wider">Especialitas</h2>
      </div>
  
      <div class="flex  gap-4 overflow-x-auto pt-1 pb-2 -mx-4 px-4 sm:mx-0 sm:px-0 no-scrollbar">
        
        @if (employees.isLoading()) {

          @for (item of [1, 2, 3, 4]; track $index) {
            <div class="flex flex-col items-center gap-1.5 flex-shrink-0 w-20 animate-pulse">
              
              <!-- Avatar Skeleton -->
              <div class="w-16 h-16 rounded-full bg-gray-200"></div>
        
              <!-- Nombre Skeleton -->
              <div class="h-3 w-14 bg-gray-200 rounded-md mt-0.5"></div>
        
              <!-- Descripción Skeleton -->
              <div class="h-2.5 w-10 bg-gray-200 rounded-md"></div>
        
            </div>
          }
        
        } @else {
        
          @for (empl of employees.value(); track $index) {
            <div class="flex flex-col items-center gap-1.5 flex-shrink-0 cursor-pointer group w-20">
              
              <div class="relative">
                @if (empl.pictureUrl) {
                  <img 
                    [src]="empl.pictureUrl" 
                    [alt]="empl.name" 
                    class="w-16 h-16 rounded-full object-cover border-2 border-white ring-2 ring-transparent group-hover:ring-rose-400 transition-all shadow-xs" />
                } @else {
                  <div class="w-16 h-16 shrink-0 flex items-center justify-center rounded-full bg-brand-50 text-brand-600 font-bold text-sm border-2 border-white shadow-xs">
                    {{ empl.name | slice:0:2 | uppercase }}
                  </div>
                }
              </div>
        
              <span class="text-xs font-semibold text-gray-800 group-hover:text-rose-500 transition-colors text-center line-clamp-1">
                {{ empl.name }}
              </span>
              <span class="text-[10px] text-gray-400 font-medium text-center line-clamp-1">
                {{ empl.shortDesc }}
              </span>
        
            </div>
          }
        
        }

        <!--
        https://images.unsplash.com/photo-1534528741775-53994a69daeb?auto=format&fit=crop&q=80&w=200
        https://images.unsplash.com/photo-1517841905240-472988babdf9?auto=format&fit=crop&q=80&w=200
        https://images.unsplash.com/photo-1544005313-94ddf0286df2?auto=format&fit=crop&q=80&w=200
        -->
        
  
      </div>
    </section>
  
    <!-- 3. CATEGORÍAS (Pills) -->
    <!--<section>
      <div class="flex gap-2 overflow-x-auto pt-1 pb-1 -mx-4 px-4 sm:mx-0 sm:px-0 no-scrollbar scroll-smooth">
        <button class="px-4 py-2 rounded-full text-xs font-semibold whitespace-nowrap bg-gray-900 text-white shadow-xs active:scale-95 transition-all cursor-pointer">
          ✨ Todos los servicios
        </button>
        <button class="px-4 py-2 rounded-full text-xs font-semibold whitespace-nowrap bg-white text-gray-600 border border-gray-200/90 hover:bg-gray-50 active:scale-95 transition-all shadow-2xs cursor-pointer">
          💎 Soft Gel & Press-On
        </button>
        <button class="px-4 py-2 rounded-full text-xs font-semibold whitespace-nowrap bg-white text-gray-600 border border-gray-200/90 hover:bg-gray-50 active:scale-95 transition-all shadow-2xs cursor-pointer">
          💅 Esculpidas en Acrílico
        </button>
        <button class="px-4 py-2 rounded-full text-xs font-semibold whitespace-nowrap bg-white text-gray-600 border border-gray-200/90 hover:bg-gray-50 active:scale-95 transition-all shadow-2xs cursor-pointer">
          🎨 Nail Art & FX
        </button>
        <button class="px-4 py-2 rounded-full text-xs font-semibold whitespace-nowrap bg-white text-gray-600 border border-gray-200/90 hover:bg-gray-50 active:scale-95 transition-all shadow-2xs cursor-pointer">
          🌿 Manicura Rusa & Cuidado
        </button>
        <button class="px-4 py-2 rounded-full text-xs font-semibold whitespace-nowrap bg-white text-gray-600 border border-gray-200/90 hover:bg-gray-50 active:scale-95 transition-all shadow-2xs cursor-pointer">
          🦶 Pedicura Spa
        </button>
      </div>
    </section>-->
  
    <!-- 4. CATÁLOGO DE SERVICIOS -->

    @if(isLoadingServices()) {
      
      <section>
        <div class="flex items-center justify-between mb-3">
          <h2 class="h-3 w-46 bg-gray-200/80 rounded-md"></h2>
          <span class="h-3 w-28 bg-gray-200/80 rounded-md"></span>
        </div>
    

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-3.5">
          
          @for (item of [1, 2, 3, 4, 5, 6, 7]; track $index) {
          
            <article class="flex flex-col justify-between overflow-hidden rounded-2xl bg-white border border-gray-200/80 shadow-xs transition duration-300 hover:shadow-md hover:-translate-y-0.5 group">
              
              <div>
                <div class=" bg-gray-200/80 relative h-40 w-full bg-gray-100 overflow-hidden">
                  
                  
                </div>
            
                <div class="p-4 pb-2">
                  <h2 class=" h-3 w-28 bg-gray-200/80  text-sm md:text-base font-bold text-gray-900 line-clamp-1 group-hover:text-brand-700 transition-colors"></h2>
                  <p class="h-6 w-90 bg-gray-200/80 mt-1 text-xs leading-relaxed text-gray-500 line-clamp-2 font-medium"></p>
                </div>
              </div>
            
              <div class="p-4 pt-2 mt-2 border-t border-gray-100 flex items-center justify-between gap-2">
                <div class="h-6 w-16 bg-gray-200/80"></div>
                <div class="px-3.5 py-1.5 rounded-xl h-6 w-26 bg-gray-200/80 shadow-xs transition-all active:scale-95 cursor-pointer flex items-center gap-1"></div>
              </div>
            
            </article>

          }
        </div>
      </section>

    }
    @else {

      <section>
        <div class="flex items-center justify-between mb-3">
          <h2 class="text-xs font-bold text-gray-400 uppercase tracking-wider">Servicios Disponibles</h2>
          <span class="text-xs text-gray-400 font-medium">{{services()?.length}} disponibles</span>
        </div>
    

        <div class="grid grid-cols-1  gap-3.5">
          
          @for(data of services(); track data.id) {
            <bs-service-card
                [routerLink]="['/customer/booking']"
                [service]="data">
            </bs-service-card>
          }

        </div>
      </section>

    }
    
    <!-- 5. RESEÑAS Y OPINIONES -->
    <section class="bg-rose-50/40 border border-rose-100/70 rounded-2xl p-4.5 space-y-3">
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-2">
          <span class="text-sm font-black text-gray-900">4.9</span>
          <div class="flex text-amber-400 text-xs gap-0.5">
            ★ ★ ★ ★ ★
          </div>
          <span class="text-xs text-gray-500 font-medium">(+120 opiniones)</span>
        </div>
      </div>
  
      <div class="bg-white p-3.5 rounded-xl border border-gray-100 shadow-2xs space-y-1">
        <div class="flex items-center justify-between">
          <span class="text-xs font-bold text-gray-800">Mariana P.</span>
          <span class="text-[10px] text-gray-400 font-medium">Hace 2 días</span>
        </div>
        <p class="text-xs leading-relaxed text-gray-600 italic">
          "El trabajo de Valeria en Soft Gel es impecable. Me duraron más de 3 semanas perfectas y el trato super cálido."
        </p>
      </div>
    </section>
  
    <!-- 6. UBICACIÓN Y HORARIOS -->
    <section class="bg-white border border-gray-200/80 rounded-2xl p-4.5 space-y-3">
      <h2 class="text-[11px] font-bold text-gray-400 uppercase tracking-wider">Visítanos</h2>
      
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 text-xs">
        <div class="flex items-start gap-3 p-1">
          <div class="p-2 bg-rose-50 text-rose-500 rounded-xl">📍</div>
          <div>
            <span class="font-bold text-gray-800 block">Studio Central</span>
            <span class="text-gray-500 leading-relaxed">Av. Las Mercedes 450, Local 3</span>
          </div>
        </div>
  
        <div class="flex items-start gap-3 p-1">
          <div class="p-2 bg-rose-50 text-rose-500 rounded-xl">🕒</div>
          <div>
            <span class="font-bold text-gray-800 block">Horario de Atención</span>
            <span class="text-gray-500 leading-relaxed">Lun - Sáb: 09:00 AM - 08:00 PM</span>
          </div>
        </div>
      </div>
    </section>
  
  </div>