.login-container{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#FFF9FB;

}

.login-card{

    width:350px;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

}

input{

    width:100%;

    padding:14px;

    margin:10px 0;

    border-radius:10px;

    border:1px solid #ddd;

}

button{

    width:100%;

    padding:14px;

    border:none;

    border-radius:10px;

    background:#EC4899;

    color:white;

}